  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
  <style>
  h1, p {
    text-align:center;
  }
  h1 {
    font-family: "Open Sans", Helvetica, sans-serif;
  }
  .table, td {
    border: 6px solid rgb(0,0,0);
    border-collapse: collapse;
  }
  .table {
    width: 377;
    height: 377;
    background-color: rgb(0,0,0);
  }

  .table2 {
    width: 377;
    height: 125;
    background-color: rgb(0,0,0);
  }
  .jumper {
    position: auto;
  }

  </style>
    <!-- <script src="playTicTacToe.js"></script> -->
<div>
  <h1>TicTacToe</h1>
  <p>{{uid}}Q1: How are you feeling about your associate experience at Anthem today?<br>
  Click the emoji corresponding to your answer and try to win the game as quickly as possible!</p>
  <table id="table2" align="center">
      <tr>
          <td><button id="button1" ng-click="imageChoosing(1)"><img src="../static/img/5_w_hand.png" height="125" width="125" /></button></td>
          <td><button id="button2" ng-click="imageChoosing(2)"><img src="../static/img/04_wo_hand.png" height="125" width="125" /></button></td>
          <td><button id="button3" ng-click="imageChoosing(3)"><img src="../static/img/03_y.png" height="125" width="125" /></button></td>
          <td><button id="button4" ng-click="imageChoosing(4)"><img src="../static/img/02_y.png" height="125" width="125" /></button></td>
          <td><button id="button5" ng-click="imageChoosing(5)"><img src="../static/img/01_y.png" height="125" width="125" /></button></td>
      </tr>
  </table>

  <canvas id="white space" width="400" height="30"></canvas>

  <table id="table" align="center">
      <tr>
          <td><button id="button11" ng-click="playTicTacToe(1)"><img id="r11" src="../static/img/white.png" height="125" width="125" /></button></td>
          <td><button id="button12" ng-click="playTicTacToe(2)"><img id="r12" src="../static/img/white.png" height="125" width="125" /></button></td>
          <td><button id="button13" ng-click="playTicTacToe(3)"><img id="r13" src="../static/img/white.png" height="125" width="125" /></button></td>
      </tr>
      <tr>
          <td><button id="button21" ng-click="playTicTacToe(4)"><img id="r21" src="../static/img/white.png" height="125" width="125" /></button></td>
          <td><button id="button22" ng-click="playTicTacToe(5)"><img id="r22" src="../static/img/white.png" height="125" width="125" /></button></td>
          <td><button id="button23" ng-click="playTicTacToe(6)"><img id="r23" src="../static/img/white.png" height="125" width="125" /></button></td>
      </tr>
      <tr>
          <td><button id="button31" ng-click="playTicTacToe(7)"><img id="r31" src="../static/img/white.png" height="125" width="125" /></button></td>
          <td><button id="button32" ng-click="playTicTacToe(8)"><img id="r32" src="../static/img/white.png" height="125" width="125" /></button></td>
          <td><button id="button33" ng-click="playTicTacToe(9)"><img id="r33" src="../static/img/white.png" height="125" width="125" /></button></td>
      </tr>
  </table>
  <h1 id="result"></h1>
  <button id="jumper"><a href="score.html">Next</a></button>
</div>